@model SportsStore.WebUI.Models.LoginViewModel

@{
    ViewBag.Title = "Administracja: Logowanie";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="panel">
    <div class="panel-heading">
        <h3>Zaloguj się</h3>
    </div>
    <div class="panel-body"></div>
</div>